 footer {
     background-color: #000;
     color: white;
     padding-top: 15px;
     width: 100%;
 }
 
 .footer-container {
     max-width: 1200px;
     margin: auto;
     text-align: center;
 }
 /* Layout for Newsletter, Menu, and Support */
 
 .footer-content {
     display: flex;
     justify-content: space-between;
     align-items: center;
     text-align: left;
     flex-wrap: wrap;
 }
 
 .newsletter {
     flex: 1.5;
     padding: 40px;
 }
 .payment-icons{
    padding-bottom: 10px;
 }
 .newsletter h2 {
     font-size: 16px;
     font-weight: bold;
     color: white;
 }
 
 .footer-content .newsletter form {
     display: flex;
     align-items: center;
     margin-top: 10px;
 }
 
 input[type="email"] {
     padding: 10px;
     width: 200px;
     border: 1px solid #ccc;
     border-radius: 5px;
     margin-right: 5px;
 }
 
 .footer-content button {
     margin-left: 10px;
     font-size: 13px;
     cursor: pointer;
     margin-bottom: 10px;
     margin-top: 15px;
     background-color: #2980b9;
     color: #fff;
     padding: 10px 20px;
     border: none;
     border-radius: 25px;
     transition: background-color 0.3s ease;
 }
 
 .menu,
 .support {
     flex: 1;
 }
 
 .menu h3,
 .support h3 {
     font-size: 16px;
     margin: 20px 0px;
     
 }
 
 .menu ul,
 .support ul {
     list-style: none;
     padding: 0;
     line-height: 20px;
 }
 
 .menu ul li,
 .support ul li {
     margin: 5px 0;
 }
 
 .menu ul li a,
 .support ul li a {
     text-decoration: none;
     color: black;
     font-size: 14px;
     color: white;
 }
 /* Footer Bottom */
 
 .footer-bottom {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 20px;
 }
 
 .payment-icons img {
     width: 40px;
     margin: 0 5px;
 }
 
 .social-icons a {
     font-size: 20px;
     margin: 0 10px;
     color: black;
 }
 /* Responsive */
 
 @media (max-width: 768px) {
     .footer-content {
         flex-direction: column;
         text-align: center;
     }
     .newsletter {
         padding-right: 40px;
        
     }
     .menu,
     .support {
         text-align: center;
         margin-bottom: 15px;
     }
     
     .menu h3,
     .support h3 {
        padding: 0px !important;
     }
 }
